$navbar-background-color: #bada55;
$navbar-links-color: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}

#logo {
  float: left;
  margin-right: 10px;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #aeaeae;
}

.footer {
  padding: 10px 0;
  border-top: 1px solid #aeaeae;
  color: #aeaeae;
}